<app-navbar></app-navbar>
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../../assets/img/ng_logo.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a quiz made using the Angular framework.
              <br>ENJOY!
          </p>
        </div>
        <div class="card-action">
          <a routerLink="/quiz">START THE QUIZ</a>
        </div>
      </div>
    </div>
  </div>
 